body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.navbar {
    background-color: #7f1940;
}
.fuente1 {
  font-family: 'Oswald', sans-serif;
}
.fuente2 {
  font-family: 'Homemade Apple', cursive;
}
.marca {
    font-size: 40px;
}
.hero {
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  padding-top: 558px;
}

.linea {
  width: 124px;
  background: black;
}
.linea2 {
  width: 124px;
  background: white;
}
.experiencia i {
  color: #7f1940;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}
.carousel-indicators {
  top: 290px;
}
.trabajos {
  background-color: #7f1940;
}
footer {
  background-color: #7f1940;
}
@media (max-width: 600px) {
  .header {
    padding-top: 270px;
  }
  .carousel-indicators {
    top: 514px;
  }
}
